@import 'macro-css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;
}

* {
  font-family: 'Inter', system-ui;
}


.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #EAEAEA;
  h3, p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.card {
  width: 220px;
  padding: 30px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.113);
    transform: translateY(-5px);
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 14px;
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }
}

.button {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-block {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.greenButton {
  position: relative;

  img {
    position: absolute;
    right: 30px;
    top: 21px;
    transition: transform 0.15s ease-in-out;
  }

  &:hover {
    img {
      transform: translateX(5px);
    }
  }
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }

  h2 {
    margin: 0;
  }
}

.cartTotalBlock {
  margin-top: auto;
  width: 100%;
  
  .dash {
    width: 50%;
    height: 16px;
    border: 1px dashed #DFDFDF;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  button {
    width: 100%;
    height: 55px;
    background: #9DD558;
    border-radius: 18px;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:hover {
      background: lighten($color: #9DD558, $amount: 5%)
    }

    &:active {
      background: darken($color: #9DD558, $amount: 10%)
    }
  }
}

.cartItem {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  p {
    margin: 0;
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }

  .sneakers {
    transform: translateY(-5px);
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    
    &:hover {
      opacity: 1;
    }
  }
}